<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adfast Orders</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />

</head>
<body>

    <table>
        <tr>
            <th>Order ID</th>
            <th>Order Date & Time</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Brand</th>
            <th>Color Name</th>
            <th>Volume</th>
        </tr>
        {%  for order in order_list %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.order_date_time }}</td>
                <td>{{ order.first_name }}</td>
                <td>{{ order.last_name }}</td>
                <td>{{ order.brand_name }}</td>
                <td>{{ order.tag_nuancier_coul }}</td>
                <td>{{ order.volume }}</td>
            </tr>
        {% endfor %}
    </table>
    <button type="button" class="btn btn-primary">
        <a class="btn btn-primary" href="{{ url_for('index') }}" role="button">Go to Main Page</a>
    </button>
</body>
</html>